@charset "UTF-8";
/* CSS Document */
/* Media Queries  */
body{
	background:#D0D0D0;
}
header{
	height:100px;
}
header, header *{
	background:#2FE5FF;
}
header #title{
	padding-left:20px;
	font-size:3em;
	display:block;
	margin:auto;
	text-align:center;
}
main{
	background:#fff;
}
main h2{
	margin-left:10px;
}
main#rationale{
	padding:0 20px 0;
}
nav{
	text-align:right;
}
#menu{
	text-decoration:none;
	margin-right:10px;
	color:#000;
	font-size:2em;
	display:block;
}
.nav ul{
	display:none;
	position:absolute;
	right:2px;
}
.nav li{
	list-style:none;
	float:left;
	width:100%;
	text-align:center;
}
.member h3, .member p{
	text-align:center;
}
figure img{
	width:250px;
	display: block;
    margin: auto;
}
footer{
	background:#9DC2FF;
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 1050px) {
	main .columns{
		margin-left:0%;
	}
	nav{
		margin-top:30px;
	}
	#menu{
		display:none;
	}
	.nav ul{
		display:block;
		float:right;
	}
	.nav li{
		width:100px;
		float:left;
	}
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
	figure img{
		width:250px;
	}
}
